body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #dddddd;
}

#titleBar {
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}

#titleBar h1 {
	font-size: 32px;
	margin: 0;
	padding: 0;
}

#titleBar p {
	margin: 0;
	padding: 0;
}

button {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	box-shadow: 1px 2px 1px 1px #aaaaaa;
	text-align: justify;
	color: black;
}

button:hover {
	box-shadow: none;
	color: white;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.chargeInfo button {
	width: 60px;
	font-size: 11px;
	vertical-align: top;
}

.colourWrapper {
	border-radius: 10px;
	border: 5px solid;
	margin-bottom: 10px;
	min-width: 1000px;
}

.gameArea {
	padding: 5px;
	display: inline-block;
}

.buildingsInfo {
	font-size: 11px;
	padding: 5px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	pointer-events: none;
	text-align: right;
}

.buildingsInfo p {
	padding: 0;
	margin: 0;
}

.variable {
	font-weight: bold;
}

.chargeBar {
	width: 300px;
	display: inline-block;
	position: relative;
	box-shadow: 1px 2px 1px 1px #aaaaaa;
}

.chargeInfo {
	display: inline-block;
}

.upgradesInfo {
	padding-top: 10px;
}

.upgradesInfo button {
	height: 60px;
	width: 60px;
	font-size: 10px;
	text-align: center;
}

.upgradeButton {
	display: inline-block;
	vertical-align: top;
}

.upgradeButton p {
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
	margin: 0;
}

.oneTime {
	display: none;
}

.energyBar {
	transition: width 0.5s;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.convertingInfo {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.convertingInfo img, button img {
	width: 15px;
	max-height: 15px;
}

.convertingInfo p {
	vertical-align: bottom;
	text-align: center;
	width: 60px;
	font-size: 10px;
	padding-top: 20px;
	margin: 0;
}

.ltTwentyPercent, .twentyPercent, .fortyPercent, .sixtyPercent, .eightyPercent {
	display: inline;
	padding: 0 10%;
	opacity: 0.3;
}

.ltTwentyPercent {
	background-color: #ffffff;
}

.twentyPercent {
	background-color: #dddddd;
}

.fortyPercent {
	background-color: #bbbbbb;
}

.sixtyPercent {
	background-color: #999999;
}

.eightyPercent {
	background-color: #777777;
}

.shapeInfo {
	display: inline-block;
	padding-left: 50px;
	font-size: 30px;
	min-width: 300px;
}

/*[[[RED ITEMS]]]:*/

.red.colourWrapper {
	border-color: #ffcdcd;
}

.red.upgradeButton button, .red.chargeInfo button {
	background-color: #ffdddd;
	border: solid #ff4433 3px;
}

.red.upgradeButton button:hover, .red.chargeInfo button:hover {
	background-color: #ff6655;
}

#redEnergyBar {
	width: 0;
	background-color: #ff4040;
}

.red .chargeBar {
	background-color: #ff4444;
}

#redEnergyBarPercent {
	padding-left: 10px;
}

/*[[[BLUE ITEMS]]]:*/

.blueHidden {
	opacity: 0;
	transition: opacity 3s;
	pointer-events: none;
}

.blue.colourWrapper {
	border: solid 5px #cdcdff;
}

.blue.upgradeButton button, .blue.chargeInfo button {
	background-color: #ddddff;
	border: solid #3344ff 3px;
}

.blue.upgradeButton button:hover, .blue.chargeInfo button:hover {
	background-color: #6655ff;
	color: white;
}

#blueEnergyBar {
	width: 0;
	background-color: #4040ff;
}

.blue .chargeBar {
	background-color: #4444ff;
}

#blueEnergyBarPercent {
	padding-left: 10px;
}

/*[[[GREEN ITEMS]]]:*/

.greenHidden {
	opacity: 0;
	transition: opacity 3s;
	pointer-events: none;
}

.green.colourWrapper {
	border: solid 5px #cdffcd;
}

.green.upgradeButton button, .green.chargeInfo button {
	background-color: #ddffdd;
	border: solid #33ff44 3px;
}

.green.upgradeButton button:hover, .green.chargeInfo button:hover {
	background-color: #66ff55;
	color: black;
}

#greenEnergyBar {
	width: 0;
	background-color: #40ff40;
}

.green .chargeBar {
	background-color: #44ff44;
}

#greenEnergyBarPercent {
	padding-left: 10px;
}
